<%-include('header')%>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">View Mall List</h5>
                  <% if(flash.success && flash.success.length> 0 ) { %>
                    <div class="alert alert-success">
                         <%= flash.success %>
                    </div>
                    <% } %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Mall</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <%for(var i of mall){%>
                      <tr>
                        <td>
                          <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong><%=i.mall%></strong>
                        </td>
                        <td>
                          <a href="/mall/delete_mall/<%=i.id%>" class="btn btn-danger">Delete</a>
                          <a href="/mall/update_mall/<%=i.id%>" class="btn btn-primary">Update</a>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
              </div>
              <br>
              <br>
<%-include('footer')%>